<br><br><br>
<%= render 'shared/page_title', title: "Your Profile" %>

<h4 align="center">  <%= gravatar_for @chef, size: 90 %> </h4>
 
<h4 align="center"><%= @chef.name %>'s recipes</h4>
<% if @chef.recipes.count != 0 %>

<div align="center">
  
</div>
<%= render 'recipes/recipe', obj: @chef.recipes %>
<div class="center">
  <%= will_paginate @chef_recipes %>
</div>
<% else %>
  <h4 align="center">No recipes yet!</h4>
<% end %>