<div class="jumbotron">
<h1>Welcome to MyRecipes</h1>
<h2>The best recipes sharing app!</h2>
<br>
<p><%= link_to "Signup", signup_path, class: "btn btn-danger" %> Or 
<%= link_to 'Log in', login_path,class: "btn btn-danger" %>
<%= link_to 'Log out', logout_path, method: :delete,class: "btn btn-danger" %>
<%= link_to "All Ingredients", ingredients_path,class: "btn btn-danger" %>
<%= link_to "New Ingredient", new_ingredient_path,class: "btn btn-danger" %></p>
<p></p>
</div>
<br>
<br>
<footer>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body ">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-danger">Go somewhere</a>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-danger" >Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-danger" >Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</footer>
