<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Navbar with Search Bar</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "CookBook", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Home ", root_path, class: "btn btn-xs btn-dark" %>
        </li>
        <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "Create Recipe ", new_recipe_path, class: "btn btn-xs btn-dark" %>
        </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "All Recipes ", recipes_path, class: "btn btn-xs btn-dark" %>
        </li>
        <div class="dropdown "data-bs-theme="dark">
           <button class="btn btn-xs btn-dark dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              Ingredients
            </button>
            <ul class="dropdown-menu  " aria-labelledby="dropdownMenu2">
                <li style="text-align: center;"><%= link_to "All Ingredients", ingredients_path %></li>
                <% if logged_in? && current_chef.admin? %>
                <br>  <li style="text-align: center;"><%= link_to "New Ingredient", new_ingredient_path %></li>
                <% end %>
            </ul>
          </div>
        <li class="nav-item">
          <%= link_to "Chefs", chefs_path, class: "btn btn-xs btn-dark" %>
        </li>
        <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "ChefChat", chat_path, class: "btn btn-xs btn-dark" %>
        </li>
        <% end %>
        <% if logged_in? %>
        <div class="dropdown "data-bs-theme="dark">
           <button class="btn btn-xs btn-dark dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenu2">
                <li style="text-align: center;"><%= link_to "View profile", chef_path(current_chef) %></li><br>
                <li style="text-align: center;"><%= link_to "Edit profile", edit_chef_path(current_chef) %></li><br>
                <li style="text-align: center;"><%= link_to "Log out", logout_path, method: :get %></li><br>
                <li style="text-align: center;"><%= link_to "Delete Account", chef_path(current_chef), method: :delete %></li>

             <!--   <li style="text-align: center;"><%= button_to "Delete", chef_path(current_chef), method: :delete, data: { confirm: "Are you sure you want to delete?" } %></li>-->
            </ul>
          </div>
        <% else %>
        <li class="nav-item">
          <%= link_to "Log in", login_path, class: "btn btn-xs btn-dark" %>
        </li>
        <% end %>
       
        
        <form action="/recipes" method="get" class="search-form">
    <input type="text" name="search" value="<%= params[:search] %>" placeholder="Search recipes" class="search-input">
    <button type="submit" class="search-button">Search</button>
</form>

        
      </ul>
    </div>
  </div>
</nav>
<br>
<br>

<!-- Bootstrap JS (optional, for dropdowns, toggles, etc.) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
