<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'layouts/navigation' %>

<% flash.each do |type, msg| %>
  <div class="alert  <%= flash_class(type) %> style="display: none; padding: 10px; max-width: 300px;"">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

  </div>
<% end %>

  <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
